@import "~bootstrap/scss/bootstrap";


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myNavbar {
  background: rgb(253, 203, 71);
  background: linear-gradient(113deg, rgba(253, 203, 71, 1) 0%, rgba(254, 209, 92, 1) 55%);
}

.myNavbarToggle {
  border: 0;
  fontSize: 1.2rem;
  color: #185163;
}

.myNavbarLogo {
  height: 50px;
  width: 300px;
}

@media (min-width: 600px) {
  .myNavbarLogo {
    height: 80px;
    width: 100%;
  }
}

a.myHomeLink:link, a.myHomeLink:visited {
  text-decoration: none;
}

a.myHomeLink:hover, a.myHomeLink:active {
  text-decoration: none;
}

.myHomeCard {
  min-height: 400px;
  min-width: 200px;
  border-width: 2px;
  border-color: rgb(253, 203, 71);
}

.myHomeCard:hover{
  background-color: rgba(253, 203, 71, 0.4);
}

.btn-primary {
  background-color: #fed15c;
  color: #14565f;
  border-color: #14565f;
}

.btn-primary:hover {
  background-color: #ffe29a;
  color: #14565f;
  border-color: #14565f;
}

.btn-primary:focus-visible {
  background-color: #cba859;
  color: #14565f;
  border-color: #14565f;
  outline: 0;
}

.btn-primary:active {
  background-color: #cba859 !important;
  color: #14565f !important;
  border-color: #14565f !important;
  outline: 0 !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) > *{
  --bs-table-bg-type: #fed15c40;
}

.myLogCol {
  background: #14565f;
  background: linear-gradient(to right, #cba859 0%,  #ffe29a 100%);
}






